@import "mixins";

/* users online list */
@include respond-to(phone, tablet) {
    
    .aui .whiteboard-portlet .users-online {
        .expand-collapse-btn {
            display: block;
            
            &.selected {
                background: #D3D3D3;
            }
        }
        .users-online-wrapper {
            display: none;
            
            &.show {
                display: block;
            }
        }
        
    } 

}